fastapi==0.111.0
uvicorn[standard]==0.29.0
SQLAlchemy==2.0.30
alembic==1.13.1
passlib[bcrypt]==1.7.4
python-jose==3.3.0
pydantic==2.7.1
celery==5.3.6
redis>=5.0
websockets==12.0
httpx==0.27.0
tqdm==4.66.4
redislite>=6.0.674960; platform_system!="Windows"
